
<div class="grid-rows">

  <!--<dx-radio-group [items]="categories"
                  layout="horizontal"
                  (onValueChanged)="onValueChanged($event)">
  </dx-radio-group>-->

  <div class="grid-row-fixed">

    <div class="toolbar">

      <div class="toolbar-title">
        USA Chorodash
      </div>

      <label class="toolbar-toggle">
        <input type="checkbox"
               [(ngModel)]="showCentroids"
               (change)="toggleCentroidLayer()" />

        Centroids
      </label>
      <input type="checkbox"
             [(ngModel)]="showCentroids"
             (change)="applyCentroidLayerDisplay()" />

      <select [(ngModel)]="centroidDisplayMode"
              (change)="applyCentroidLayerDisplay()">
        <option value="all">All</option>
        <option value="hover">Hover</option>
      </select>

    </div>

  </div>

  <div class="grid-rows">

    <div class="grid-col-fill choro-panels">

      <jz-choro-dash-panel class="grid-col-fill">
        <choro-usa #choro_usa
                   [shapeSet]="usaShapeSet">
        </choro-usa>
      </jz-choro-dash-panel>

      <jz-choro-dash-panel class="state-panel">
        <choro-state #choro_state
                     [shapeSet]="stateShapeSet">
        </choro-state>
      </jz-choro-dash-panel>

    </div>

    <div class="grid-col-fixed" style="width:150px">
      table
    </div>

  </div>

</div>


