
<div class="grid-rows">

  <!--<dx-radio-group [items]="categories"
                  layout="horizontal"
                  (onValueChanged)="onValueChanged($event)">
  </dx-radio-group>-->

  <div class="grid-row-fixed">

    <div class="toolbar">

      <!--<div class="toolbar-title">
        USA Chorodash
      </div>

      <label class="toolbar-toggle">
        <input type="checkbox"
               [(ngModel)]="showCentroids"
               (change)="toggleCentroidLayer()" />

        Centroids
      </label>
      <input type="checkbox"
             [(ngModel)]="showCentroids"
             (change)="applyCentroidLayerDisplay()" />

      <select [(ngModel)]="centroidDisplayMode"
              (change)="applyCentroidLayerDisplay()">
        <option value="all">All</option>
        <option value="hover">Hover</option>
        <option value="none">None</option>
      </select>-->

      <jz-button variant="glass" icon="▣"
      (buttonClick)="openAdmin()">>
       Data Mgr
      </jz-button>
    </div>

  </div>

  <div class="choro-panels">

    <jz-choro-dash-panel class="usa-panel">
      <choro-usa #choro_usa
                 [shapeSet]="usaShapeSet"
                 (countySelected)="onCountySelected($event)"
                 (choroUSAEvent)="applyCentroidLayerDisplay()">
      </choro-usa>
    </jz-choro-dash-panel>

    <div class="state-column">

      <jz-choro-dash-panel class="state-panel">
        <choro-state #choro_state
                     *ngIf="selectedStateId"
                     [stateId]="selectedStateId"
                     [shapeSet]="stateShapeSet">
        </choro-state>
      </jz-choro-dash-panel>

      <jz-choro-dash-panel class="state-table-panel">
        table
      </jz-choro-dash-panel>

    </div>

  </div>

</div>


