
.svg-container {
  /*  margin: 8px;*/
  /*  background-color: var(--plt-clr-1);*/
}

/* global or component SCSS */
.panel-placeholder {
  fill: none; /* or a very light fill */
  stroke: #888; /* subtle outline */
  stroke-dasharray: 4 4;
  pointer-events: none; /* don’t intercept mouse */
}

.chart-bg {
  fill: none;
  stroke: #aaa;
  stroke-dasharray: 3 3;
}

.chart-panel {
  fill: #32A287;
  stroke: #00BFFF;
  stroke-width: 2px;
}

.chart-title {
  font-size: 18px;
  text-anchor:middle;
 
}

.x-axis-group {
  fill: var(--plt-chart-1);
}

::ng-deep .tick {
  color: orange;
  stroke: var(--plt-chart-3);
  stroke-width: 1;
}

.domain {
  stroke: var(--plt-chart-2);
}

.x-axis {
/*  color: var(--plt-chart-2);
  stroke-width: 1;*/
}

.x-axis > .tick {
  color: var(--plt-chart-2);
  stroke-width: 1;
}

  .x-axis > .domain {
    color: red;
    stroke: var(--plt-chart-2);
    stroke-width: 1;
  }

.y-axis {
  /*  color: var(--plt-chart-2);
  stroke-width: 1;*/
}

.y-axis > .tick {
  color: var(--plt-chart-2);
  stroke-width: 1;
}

.y-axis > .domain {
  color: red;
  stroke: var(--plt-chart-2);
  stroke-width: 1;
}

.title-text {
  fill: lightgray;
}
