
.svg-container {
  /*  margin: 8px;*/
  /*  background-color: var(--plt-clr-1);*/
}

.chart-section {
  fill: var(--plt-chart-1);
}

.chart-title {
  font-size: 18px;
  fill: darkgray;
}

.axis {
  fill: var(--plt-chart-2);
}

.tick text {
  fill: #B0BEC5;
}

text {
  fill: yellow;
}

.domain {
  stroke: var(--plt-chart-2);
}

.x-axis {
  fill: var(--plt-chart-1);
}

  .x-axis .tick line {
    stroke: var(--plt-chart-2);
    stroke-width: 1;
  }

  .x-axis > path {
    stroke: var(--plt-chart-2);
    stroke-width: 1;
  }

.y-axis {
  fill: var(--plt-chart-1);
}

  .y-axis path {
    stroke: yellow;
    stroke-width: 1;
  }

  .y-axis .tick line {
    stroke: var(--plt-chart-3);
    stroke-width: 1;
  }

  .y-axis .tick text {
    fill: currentColor;
    font-size: 12px;
  }

.title-text {
  fill: lightgray;
}
