
.svg-container{
    border:4px;
}
.rSvgElement {
    fill: blueviolet
}

.chart-container{
  /*  fill:var(--plt-clr-2)*/
}

.rChartTitle {
        fill: var(--plt-clr-2)
}

.chart-panel {
  fill:var(--plt-clr-4);
  stroke: #FFEEDB;
  stroke-width: 1px;
}

.chart-bg {
  fill: none;
  stroke: #aaa;
  stroke-dasharray: 3 3;
}



.base-rect { }



.chart-placeholder {
/*  fill: #1C3238;*/
  /*fill: none !important;*/ /* don’t paint over real things */
  /*pointer-events: none !important;*/ /* don’t eat mouse events */
  /*stroke: none;*/
}

.chart-title {
  font-size: 18px;
  text-anchor: middle;
}

.axis-panel{
    fill:var(--plt-clr-3);
}

.x-axis-group {
  fill: var(--plt-clr-2);
}

.panel-text {
  fill: lightgray;
  font-size: 12px;
}

::ng-deep .tick {
  color: orange;
  stroke: var(--plt-chart-3);
  stroke-width: 1;
}

.domain {
  stroke: var(--plt-chart-2);
}

.x-axis {
/*  color: var(--plt-chart-2);
  stroke-width: 1;*/
}

.x-axis > .tick {
  color: var(--plt-chart-2);
  stroke-width: 1;
}

  .x-axis > .domain {
    color: red;
    stroke: var(--plt-chart-2);
    stroke-width: 1;
  }

.y-axis {
  color: var(--axis-color, #98d0f6);
}

.y-axis .domain,
.y-axis .tick line {
  stroke-opacity: .35;
}

.y-axis .tick text {
  font-size: 10px;
}

.title-text {
  fill: lightgray;
}
