
.svg-container{
    border:4px;
}

.rSvgElement {
     fill:var(--plt-clr-2);
     border-radius:8px;
}

.panels-container {
  fill: var(--plt-clr-2);
//  border:2px solid black;
}

.chart-container{
    fill:var(--plt-clr-2);
}

.rChartTitle {
  fill: var(--plt-clr-2);

  stroke-width: 1;         /* border thickness */
                /* vertical radius */
}

.chart-panel {
  fill:var(--plt-clr-2);
  stroke: #E6AD51;
  stroke-width: 1.5px;
}

.chart-bg {
  fill: none;
  stroke: #aaa;
  stroke-dasharray: 3 3;
}

.base-rect { }

.chart-placeholder {
fill:transparent;
  /*fill: none !important;*/ /* don’t paint over real things */
  /*pointer-events: none !important;*/ /* don’t eat mouse events */
  /*stroke: none;*/
}

.chart-title {
  font-size: 18px;
  text-anchor: middle;
}

.axis-panel{
    fill:var(--plt-clr-2);
}

.x-axis-group {
  fill: var(--plt-clr-2);
}

.panel-text {
  fill: lightgray;
  font-size: 12px;
}

.tick {
  stroke: lightyellow;
}

.tick line {
  stroke:white;
}

.tick text {
  fill: white;
  stroke:none;
}

.domain {
  stroke: white;
}

.x-axis {
/*  color: var(--plt-chart-2);
  stroke-width: 1;*/
}

.x-axis > .tick {
  color: var(--plt-chart-2);
  stroke-width: 1;
}

  .x-axis > .domain {
    color: red;
    stroke: white;
    stroke-width: 1;
  }

.y-axis {
  color: var(--axis-color, #98d0f6);
}

.y-axis .domain,
.y-axis .tick line {
  stroke-opacity: .35;
}

.y-axis .tick text {
  font-size: 10px;
}

.title-text {
  fill: lightgray;
}
