<div class="grid-row-fixed radio-button-container">

  <div class="palette-name" style="color:var(--plt-txt-1)">{{paletteName}}</div>

  <jz-radio-button [palette]="'cofffee'" [btncolor]="'#7c5050'"></jz-radio-button>
  <jz-radio-button [palette]="'onyx'" [btncolor]="'#5e646e'"></jz-radio-button>
  <jz-radio-button [palette]="'onyx2'" [btncolor]="'#584b4b'"></jz-radio-button>
  <jz-radio-button [palette]="'protan'" [btncolor]="'#ff9f43'"></jz-radio-button>
  <jz-radio-button [palette]="'protan2'" [btncolor]="'#2ec4b6'"></jz-radio-button>

</div>
