<!--jz-menu-tab.component.html-->

<div class="menu-tab"
     (click)="onTabClicked()"
     [ngStyle]="{  'border-radius':borderRadius,    }"
     [ngClass]="{
     'selected': isSelected,
     'horizontal': isHorizontal,
     'vertical': !isHorizontal,
     'sub-menu': isSubMenu,
     'main-menu': !isSubMenu
     }">

  <jz-pebble-button #tabbutton class="jz-button"
                    style="--jz-pebble-width: 125px; --jz-pebble-height: 36px"
                    [style.--jz-pebble-base]="isSelected ? 'var(--plt-highlight)' : 'var(--plt-clr-2)'"
                    [style.--jz-pebble-text]="isSelected ? '#15181b' : 'var(--plt-txt-1)'">
    {{btnTxt}}
  </jz-pebble-button>
</div>
