/*base-chart.component.scss*/

#gAxisTopMonths {
  color: #8B8B84;
}
/* top */
#gAxisBottom {
  color: #8B8B84;
}

#gAxisGroupLeft {
  color: #94a3b8;
}
/* left */
#gAxisGroupRight {
  color: #94a3b8;
}
/* right */
