/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'museo';
  src: url('assets/fonts/Museo300-Regular-webfont.ttf');
}

@font-face {
  font-family: 'varela';
  src: url('assets/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}

html,
body {
  display: flex; /* This is usually the default, so it might not need overriding */
  margin: 0; /* Override the default margin */
  /* Add any other styles you need */
  height:100%;
  width:100%;
  background-color: var(--plt-clr-1);
  font-family:varela;
}

app-root {
  display: flex;
  height: 100%;
  width: 100%;
}

div {
    display:flex;
}


