
.jz-button.login {
  color: black
}

.login .jz-button-bevel {background-color:yellow}

.logon-container {
  flex-flow: column;
  width: 325px;
  margin: 0 auto;
  padding: 16px 16px 16px 16px;
  border: 1px solid var(--plt-clr-2);
  border-radius: 8px;
  box-shadow: 0 0 15px 10px rgba(136, 153, 153, 0.2);
  background-color: var(--plt-clr-4);
}




.logon-title {
    color:black;
    font-weight:600;
}

.form-group {
  flex-flow: column;
  margin-bottom: 12px;
}

.form-group-label {
  font-family: museo;
  font-weight: 600;
  font-size: 16px;
  padding-left: 4px;
  margin-bottom: 2px;
}

.form-group-input {
  width: 100%;
  height: 24px;
  border: 1px solid var(--plt-clr-1);
  background-color: var(--plt-clr-5);
  border-radius: 8px;
  font-size: 16px;
  padding-left: 6px;
}

forn-label {
  display: block;
  font-weight: bold;
  margin-left: 3px;
}

.form-control {
  width: 100%;
  border: 1px solid var(--jz-palette-color-1);
  background-color: var(--plt-clr-5);
  border-radius: 8px;
}
