
.svg-container {
  margin: 8px;
  /*  background-color: var(--plt-clr-1);*/
}

.axis {
  fill: var(--plt-chart-2);
}

.tick text {
  fill: white;
}

text {
  fill: yellow;
} 

.x-axis {
  fill: var(--plt-chart-2);
}

.y-axis {
  fill: var(--plt-chart-2);
}

  .y-axis path {
    stroke: yellow;
    stroke-width: 2;
  }

  .y-axis .tick line {
    stroke: var(--plt-chart-3);
    stroke-width: 1;
  }

  .y-axis .tick text {
    fill: var(--plt-chart-3);
    font-size: 12px;
  }



.title-text {
  fill: lightgray;
}

.ohlcRect {
  fill: var(--plt-chart-1);
}
