

.svg-container {
  background-color: #ff5a5f;
}

/* Customize tick lines */
.y-axis .tick line {
  stroke: yellow;
  stroke-width: 1;
}

/* Customize tick labels */
.y-axis .tick text {
  font-size: 12px;
}

/* Customize the axis line */
.y-axis path {
  stroke: yellow;
  stroke-width: 2;
}

.tick text {
  fill: white;
}

text {
 
}


