
<!--<svg>
  <g #gSection id="gSection">
    <rect #rSection id="rSection" width="0" height="0"></rect>
    <g #gAxisGroupLeft id="gAxisGroupLeft">
      <rect #rAxisLeft id="rAxisLeft" width="0" height="0"></rect>
      <g #gAxisLeft id="gAxisLeft"></g>
    </g>
    <g #gContent id="gContent">
      <rect #rContent id="rContent" width="0" height="0"></rect>
      <g #gChart id="gChart"></g>
    </g>
    <g #gAxisGroupRight id="gAxisGroupRight">
      <rect #rAxisRectRight id="rAxisRectRight" width="0" height="0"></rect>
      <g #gAxisRight id="gAxisRight"></g>
    </g>
  </g>
</svg>-->
