
<jz-menu-container class="menu-vertical sub-menu"
                   [menuName]="'visualization'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [menuType]="'sub'">

  <jz-menu-tab [route]="'/visualization/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [menuType]="menuType"
               [isSelected]="true"
               [palette]="'coffee'">
  </jz-menu-tab>

  <jz-menu-tab [route]="'/visualization/techanTs'"
               [tabId]="'TechanTs'"
               [btnTxt]="'TechanTs'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [menuType]="menuType"
               [palette]="'coffee'">
  </jz-menu-tab>

  <jz-menu-tab [route]="'visualization/choro-dash-loader'"
               [tabId]="'chorodash'"
               [btnTxt]="'Chorodash'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [menuType]="menuType"
               [palette]="'coffee'">
  </jz-menu-tab>

  <jz-menu-tab [route]="'visualization/sankey'"
               [tabId]="'sankey'"
               [btnTxt]="'Sankey'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [menuType]="menuType"
               [palette]="'coffee'">
  </jz-menu-tab>

  <jz-menu-tab [route]="'visualization/bubble'"
               [tabId]="'bubble'"
               [btnTxt]="'Bubble Chart'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [palette]="'yale'"
               [menuType]="menuType">
  </jz-menu-tab>

  <jz-menu-tab [route]="'visualization/syncfusion-chart'"
               [tabId]="'syncfusionchart'"
               [btnTxt]="'Syncfusion Chart'"
               [menuName]="'visualization'"
               [direction]="'vertical'"
               [menuType]="menuType">
  </jz-menu-tab>

</jz-menu-container>
