/*visualization-menu.component.css*/

.modules-menu-container {
  margin-right: -2px;
}

jz-nav-group.modules-nav jz-nav-item:first-child:not(.active),
jz-nav-group.modules-nav jz-button-cuboid:first-child:not(.active),
jz-nav-group.modules-nav .jz-btn:first-child:not(.active) {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
