<!--dataviz.component.html-->

<div style="background-color:var(--plt-clr-1);height:100%;">
  <dataviz-menu style="background-color:var(--plt-clr-1);height:fit-content;margin-top:32px"></dataviz-menu>
</div>

<div #viewRouter id="viewRouter" class="grid-col-fill view-router-container ">
  <router-outlet></router-outlet>
</div>

<!-- parent (e.g., dataviz.component.html) -->
<button #btn (click)="open(btn)">Show Popover</button>

<ng-template #popoverTpl>
  <div class="jz" style="max-width:220px">
    <strong>Popover Title</strong><br />
    Content injected through TemplateRef.
  </div>
</ng-template>


