.app-body {
    background-color:var(--plt-clr-1);
}

/*
@font-face {
  font-family: 'museo';
  src: url('assets/fonts/Museo300-Regular-webfont.ttf');
}

@font-face {
  font-family: 'varela';
  src: url('assets/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf');
}*/

div {
  display: flex;
}

body {
  background-color: antiquewhite;
}

.view-router-container {
}

.app-view-home {
    border: 1px solid white;
    border-radius:9px;
    color:white;
}
