.app-body {
    background-color:var(--plt-clr-1);
}

div {
  display: flex;
}

body {
  background-color: antiquewhite;
}

.app-view-home {
   
    border-radius:9px;
    color:var(--plt-clr-x);
}

.shadow {
  width: 200px;
  height: 100px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

