.app-body {
  background-color: var(--plt-clr-1);
}

.app-header {
  color: var(--plt-txt-1);
  background-color: var(--plt-clr-1);
  border-radius: 8px 8px 0 0;
  border: 1px solid black;

}

.app-view-home {
  border-radius: 9px;
  color: var(--plt-clr-x);
  background-color:var(--plt-clr-2);
}

div {
  display: flex;
}

body {
  background-color: antiquewhite;
}

.app-view {
  border: 1px solid yellow;
}

.shadow {
  width: 200px;
  height: 100px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
