
.jz3d {
  /* Theming (runtime via CSS vars) */
  --bg: var(--plt-clr-1);
  --bg-selected: var(--plt-clr-4);
  --txt: var(--plt-txt-1);
  --radius: 10px;
  --depth: 8px;
/*  // visual depth --shine: rgba(255,255,255,.28);*/
  --shine-strong: rgba(255,255,255,.48);
  --shade: rgba(0,0,0,.35);
  --shade-soft: rgba(0,0,0,.18);
}

.jz-button {
  background-color: var(--jz-plt-clr-1);
}

.dx-radiobutton-icon-checked .dx-radiobutton-icon-dot {
  background-color: white;
  border-width: 2px;
}

.dx-radiobutton-icon  {
    width:12px;
    height:12px;
}
