
.sub-menu {
  
}

 .jz-button-bevel {
  width: 100%;
  border-radius: 7px;
  background-color: hotpink;
}

.sub-menu .jz-button-bevel {
  width: 100%;
  border-radius: 7px;
  background-color: skyblue;
}
