
.x-axis path {
  stroke: var(--plt-chart-3);
  stroke-width: 2;
}

.x-axis .tick line {
  stroke: var(--plt-chart-3);
  stroke-width: 1;
}

.x-axis .tick text {
  font-size: 12px;
  fill: var(--plt-chart-3);
}

.y-axis path {
  stroke: var(--plt-chart-3);
  stroke-width: 2;
}

.y-axis .tick line {
  stroke: var(--plt-chart-3);
  stroke-width: 1;
}

.y-axis .tick text {
  font-size: 12px;
  fill: var(--plt-chart-3);
  
}
