
<div #menuContainer
     class="main-menu-container" style="margin-left:8px"
     [ngStyle]="{'visibility':isMainMenuVisible}">

  <jz-menu-container class="main-menu menu-horizontal menu-view"
                     [menuName]="'menu-main'"
                     [direction]="'horizontal'"
                     [tabs]="tabs"
                     [menuType]="'main'">

    <jz-menu-tab [route]="'/home'"
                 [tabId]="'home'"
                 [btnTxt]="'Home'"
                 [direction]="direction"
                 [menuType]="menuType"
                 [palette]="'coffee'" ,
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/dataviz'"
                 [tabId]="'dataviz'"
                 [btnTxt]="'Dataviz'"
                 [direction]="direction" ataviz
                 [menuType]="menuType"
                 [palette]="'coffee'" ,
                 [menuName]="'menu-main'">

    </jz-menu-tab>

    <jz-menu-tab [route]="'/backoffice'"
                 [tabId]="'backoffice'"
                 [btnTxt]="'Backoffice'"
                 [direction]="direction"
                 [menuType]="menuType"
                 [palette]="'coffee'" ,
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/sandbox'"
                 [tabId]="'sandbox'"
                 [btnTxt]="'Sandbox'"
                 [direction]="direction"
                 [menuType]="menuType"
                 [palette]="'coffee'" ,
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/architecture'"
                 [tabId]="'architecture'"
                 [btnTxt]="'Architecture'"
                 [direction]="direction"
                 [menuType]="menuType"
                 [palette]="'coffee'" ,
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [menuName]="'menu-main'"
                 [route]="'/admin'"
                 [tabId]="'admin'"
                 [btnTxt]="'Admin'"
                 [direction]="direction"
                 [palette]="'coffee'" ,
                 [menuType]="menuType">
    </jz-menu-tab>

  </jz-menu-container>
</div>
