<!-- main-menu.component.html -->

<div #menuContainer
     class="solutions-menu-container"
     [ngStyle]="{ visibility: isMainMenuVisible }">

  <jz-nav-group *ngIf="items$ | async as items"
                class="main-nav"
                [class.blank-view]="(activeItem$ | async)?.layoutType === 'blank'"
                [items]="items"
                orientation="horizontal"
                (selected)="onNavSelected($event)">
  </jz-nav-group>

  <!--<jz-nav-group *ngIf="items$ | async as items"
                class="main-menu menu-horizontal menu-view"
       style="margin-left:8px;margin-bottom:-2px;z-index:100"
                [items]="items"
                [orientation]="'horizontal'"
                (selected)="onNavSelected($event)">
  </jz-nav-group>-->

</div>
