<!-- jz-button-cuboid.component.html -->

<button class="jz-btn jz-btn--cuboid jz-btn--nine"
        type="button"
        (click)="onButtonClick($event)">

  <div class="cuboid">
    <!-- Top row -->
    <div class="zone A"></div>
    <div class="zone top"></div>
    <div class="zone B"></div>

    <!-- Middle row -->
    <div class="zone left"></div>
    <div class="zone face">
      <div class="label">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="zone right"></div>

    <!-- Bottom row -->
    <div class="zone D"></div>
    <div class="zone bottom"></div>
    <div class="zone C"></div>
  </div>
</button>
