.solutions-menu-container {
  margin-bottom: -2px;
  z-index:100;
}

.solutions-menu-container.main-menu {
  /* border:1px solid var(--plt-clr-2);*/
}

.solutions-menu-container.sub-menu {
  border: 1px solid var(--plt-clr-3);
}
