
<div class="grid-cols" #appHeader [ngStyle]="{'visibility': visibility}">

  <!--Column 1: Logo-->
  <div class="grid-col-fixed logo-container">
    <img class="logo"
         src="assets/logos/JazLogoMaster-00.svg"
         alt="JZ Studio" />
  </div>

  <!--Column 2: Title and Menu-->
  <div class="grid-col-fill">
    <div class="grid-rows">

      <div class="grid-row-fixed" style="margin-right:16px;margin-top:8px;justify-content:flex-end">

        <div class="grid-col-fill" style="text-align:center">JZ Studio</div>
        <palette-menu class="grid-col-fixed"></palette-menu>
      </div>

      <div #solutionMenuContainer class="grid-row-fixed solutions-menu-container">
        <solutions-menu #mainMenu></solutions-menu>
      </div>

    </div>
  </div>
</div>


