// jz-nav-item.component.scss

#jzhome {
  border: none;
}

.jz-nav-item {
  position: relative;
  padding: 0 8px;
}

/* HORIZONTAL */

:host-context(nav.jz-nav-group.horizontal) .jz-nav-item {
  padding: 8px 0;
  border-bottom-color: var(--plt-clr-2);
  border-radius: 8px 8px 0 0;
  background-color: var(--plt-clr-1);
}

  :host-context(nav.jz-nav-group.horizontal) .jz-nav-item.active {
    padding: 8px;
    z-index: 2;
    border: var(--border-width) solid var(--plt-pop);
    border-bottom-color: var(--plt-clr-2);
    background-color: var(--plt-clr-2);
    box-shadow: 0 calc(2 * var(--border-width)) 0 var(--plt-clr-2);
  }

    /* Active horizontal tab inverted corners */
    :host-context(nav.jz-nav-group.horizontal) .jz-nav-item.active::before,
    :host-context(nav.jz-nav-group.horizontal) .jz-nav-item.active::after {
      position: absolute;
      box-sizing: border-box;
      bottom: calc(-2 * var(--border-width));
      width: var(--tab-inverted-corner-radius);
      height: var(--tab-inverted-corner-radius);
      border-bottom: var(--border-width) solid var(--plt-pop);
      background-color: var(--plt-clr-2);
      content: '';
      pointer-events: none;
    }

    :host-context(nav.jz-nav-group.horizontal) .jz-nav-item.active::before {
      left: calc(-1 * var(--tab-inverted-corner-radius));
      border-right: var(--border-width) solid var(--plt-pop);
      border-bottom-right-radius: var(--tab-inverted-corner-radius);
      box-shadow:
        var(--border-width) 0 0 var(--plt-clr-2),
        0 calc(2 * var(--border-width)) 0 var(--plt-clr-2);
    }

    :host-context(nav.jz-nav-group.horizontal) .jz-nav-item.active::after {
      right: calc(-1 * var(--tab-inverted-corner-radius));
      border-left: var(--border-width) solid var(--plt-pop);
      border-bottom-left-radius: var(--tab-inverted-corner-radius);
      box-shadow:
        calc(-1 * var(--border-width)) 0 0 var(--plt-clr-2),
        0 calc(2 * var(--border-width)) 0 var(--plt-clr-2);
    }

/* VERTICAL */

:host-context(nav.jz-nav-group.vertical) .jz-nav-item {
  padding: 0 8px;
  border: var(--border-width) solid var(--plt-clr-1);

  border-radius: 8px 0 0 8px;
  background-color: var(--plt-clr-1);
}

  :host-context(nav.jz-nav-group.vertical) .jz-nav-item.active {
    z-index: 2;
    padding: 8px;
    border: var(--border-width) solid var(--plt-pop);
    border-right-color: var(--plt-clr-2);
    border-radius: 8px 0 0 8px;
    background-color: var(--plt-clr-2);
    box-shadow: calc(2 * var(--border-width)) 0 0 var(--plt-clr-2);
  }

    /* Active vertical tab inverted corners */
    :host-context(nav.jz-nav-group.vertical) .jz-nav-item.active::before,
    :host-context(nav.jz-nav-group.vertical) .jz-nav-item.active::after {
      position: absolute;
      box-sizing: border-box;
      right: calc(-2 * var(--border-width));
      width: var(--tab-inverted-corner-radius);
      height: var(--tab-inverted-corner-radius);
      border-right: var(--border-width) solid var(--plt-pop);
      background-color: var(--plt-clr-2);
      content: '';
      pointer-events: none;
    }

    :host-context(nav.jz-nav-group.vertical) .jz-nav-item.active::before {
      top: calc(-1 * var(--tab-inverted-corner-radius));
      border-bottom: var(--border-width) solid var(--plt-pop);
      border-bottom-right-radius: var(--tab-inverted-corner-radius);
      box-shadow:
        0 var(--border-width) 0 var(--plt-clr-2),
        calc(2 * var(--border-width)) 0 0 var(--plt-clr-2);
    }

    :host-context(nav.jz-nav-group.vertical) .jz-nav-item.active::after {
      bottom: calc(-1 * var(--tab-inverted-corner-radius));
      border-top: var(--border-width) solid var(--plt-pop);
      border-top-right-radius: var(--tab-inverted-corner-radius);
      box-shadow:
        0 calc(-1 * var(--border-width)) 0 var(--plt-clr-2),
        calc(2 * var(--border-width)) 0 0 var(--plt-clr-2);
    }

/* BLANK VIEW */

:host-context(jz-nav-group.blank-view)
:host-context(nav.jz-nav-group.horizontal)
.jz-nav-item.active {
  padding: 8px;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

  :host-context(jz-nav-group.blank-view)
  :host-context(nav.jz-nav-group.horizontal)
  .jz-nav-item.active::before,
  :host-context(jz-nav-group.blank-view)
  :host-context(nav.jz-nav-group.horizontal)
  .jz-nav-item.active::after {
    display: none;
  }
