<!--<jz-menu-container [ngStyle]="{'flex-flow':'column'}" style="flex-flow:column;display:flex">-->
<jz-menu-container class="menu-vertical menu-view"
                   [menuName]="'sandbox'"
                   [direction]="'vertical'">

  <jz-menu-tab [route]="'/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'sandbox'"
               [isSelected]=true>
  </jz-menu-tab>

  <jz-menu-tab [route]="'/dataviz'"
               [tabId]="'dataviz'"
               [btnTxt]="'Dataviz'"
               [menuName]="'sandbox'">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/chorousa'"
               [tabId]="'chorousa'"
               [btnTxt]="'ChoroPleth'"
               [menuName]="'sandbox'">
  </jz-menu-tab>

  <!--<jz-menu-tab [tab_name]="'home'" [menuName]="'sandbox'">
    [isDefault]="true">
    <jz-button class="jz-button"
               [text]="'Home'"
               routerLink="/sandbox/home">
    </jz-button>
  </jz-menu-tab>

  <jz-menu-tab [tab_name]="'chorousa'" [menuName]="'sandbox'">
    <jz-button class="jz-button"
               [text]="'ChoroDash'"
               routerLink="/sandbox/chorodash">
    </jz-button>
  </jz-menu-tab>

  <jz-menu-tab [tab_name]="'technical'" [menuName]="'sandbox'">
    <jz-button class="jz-button"
               [text]="'Technical'"
               routerLink="/sandbox/technical">
    </jz-button>
  </jz-menu-tab>

  <jz-menu-tab [tab_name]="'jz_docking'" [menuName]="'sandbox'">
    <jz-button class="jz-button"
               [text]="'Docking 1'"
               routerLink="/sandbox/docking">
    </jz-button>
  </jz-menu-tab>

  <jz-menu-tab [tab_name]="'docking'" [menuName]="'sandbox'">
    <jz-button class="jz-button"
               [text]="'Docking'"
               routerLink="/sandbox/docker">
    </jz-button>
  </jz-menu-tab>

  <jz-menu-tab [tab_name]="'jz_flex'" [menuName]="'sandbox'">
    <jz-button class="jz-button"
               [text]="'JZ Flex'"
               routerLink="/sandbox/jzflex">
    </jz-button>
  </jz-menu-tab>-->

</jz-menu-container>
