<!--<jz-menu-container [ngStyle]="{'flex-flow':'column'}" style="flex-flow:column;display:flex">-->
<jz-menu-container class="menu-vertical menu-view"
                   [menuName]="'sandbox'"
                   [direction]="'vertical'"
                   [isHorizontal]="false">

  <jz-menu-tab [route]="'sandbox/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [isSelected]=true>
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/chorousa'"
               [tabId]="'chorousa'"
               [btnTxt]="'Chorodash'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/dataviz'"
               [tabId]="'dataviz'"
               [btnTxt]="'Dataviz'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/docking'"
               [tabId]="'docking'"
               [btnTxt]="'Docking'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>


</jz-menu-container>
