
<div #menuContainer
     class="main-menu-container" style="margin-left:8px"
     [ngStyle]="{'visibility':isMainMenuVisible}">

  <jz-menu-container class="menu-horizontal menu-view"        
                     [menuName]="'menu-main'"
                     [direction]="'horizontal'"
                     [tabs]="tabs">

    <!--<jz-tab [state]="'selected'" [menuItem]="'home'" [menuName]="menuName"-->
    <jz-menu-tab [route]="'/home'"
                 [tabId]="'home'"
                 [btnTxt]="'Home'"
                 [menuName]="'menu-main'" >
    </jz-menu-tab>

    <jz-menu-tab [route]="'/dataviz'"
                 [tabId]="'dataviz'"
                 [btnTxt]="'Dataviz'"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/backoffice'"
                 [tabId]="'backoffice'"
                 [btnTxt]="'Backoffice'"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/sandbox'"
                 [tabId]="'sandbox'"
                 [btnTxt]="'Sandbox'"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/architecture'"
                 [tabId]="'architecture'"
                 [btnTxt]="'Architecture'"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [menuName]="'menu-main'" 
                 [route]="'/admin'"
                 [tabId]="'admin'"
                 [btnTxt]="'Admin'">
    </jz-menu-tab>

  </jz-menu-container>
</div>
