
<div #menuContainer
     class="main-menu-container" style="margin-left:8px"
     [ngStyle]="{'visibility':isMainMenuVisible}">

  <jz-menu-container class="menu-horizontal menu-view"        
                     [menuName]="'menu-main'"
                     [direction]="'horizontal'"
                     [tabs]="tabs"
                     [parentValue]="'main-menu'">

    <jz-menu-tab [route]="'/home'"
                 [tabId]="'home'"
                 [btnTxt]="'Home'"
                 [direction]="direction"
                 [parentValue]="parentGetter"
                 [menuName]="'menu-main'" >
    </jz-menu-tab>

    <jz-menu-tab [route]="'/dataviz'"
                 [tabId]="'dataviz'"
                 [btnTxt]="'Dataviz'"
                 [direction]="direction"
                 [parentValue]="parentGetter"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/backoffice'"
                 [tabId]="'backoffice'"
                 [btnTxt]="'Backoffice'"
                 [direction]="direction"
                 [parentValue]="parentGetter"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/sandbox'"
                 [tabId]="'sandbox'"
                 [btnTxt]="'Sandbox'"
                 [direction]="direction"
                 [parentValue]="parentGetter"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [route]="'/architecture'"
                 [tabId]="'architecture'"
                 [btnTxt]="'Architecture'"
                 [direction]="direction"
                 [parentValue]="parentGetter"
                 [menuName]="'menu-main'">
    </jz-menu-tab>

    <jz-menu-tab [menuName]="'menu-main'" 
                 [route]="'/admin'"
                 [tabId]="'admin'"
                 [btnTxt]="'Admin'"
                 [direction]="direction"
                 [parentValue]="parentGetter">
    </jz-menu-tab>

  </jz-menu-container>
</div>
