

.dx-popup-title.dx-toolbar {
  background-color: #BA6666;
  padding: 0 20px;
}
.popover-content-container {
 /* background-color: red;*/
 flex-flow:column;
}

.popover-content-item {
    justify-content:center;
    text-align:center;
}

.custom-popover-title {
  color: red; /* Change 'red' to your desired color */
}

.dx-toolbar-label .dx-toolbar-item-content > div {
  font-size: 16px;
  color: orange;
  font-weight: 600;
}
