<!-- jz-nav-group.component.html -->

<nav class="jz-nav-group"
     [class.horizontal]="orientation === 'horizontal'"
     [class.vertical]="orientation === 'vertical'">

  <jz-nav-item *ngFor="let item of items"
               [item]="item"
               [active]="isActive(item)"
               [disabled]="item.disabled ?? false"
               (selected)="onSelect(item)">

    <jz-pebble-button [class.active]="isActive(item)"
                      style="--jz-pebble-width: 125px; --jz-pebble-height: 28px; --jz-pebble-radius: 7px"
                      [style.--jz-pebble-base]="isActive(item) ? 'var(--plt-highlight)' : 'var(--plt-clr-2)'"
                      [style.--jz-pebble-text]="isActive(item) ? '#15181b' : 'var(--plt-txt-1)'"
                      [disabled]="item.disabled ?? false">

      {{ item.label }}

    </jz-pebble-button>

  </jz-nav-item>

</nav>
