/*jz-nav-group.component.scss*/

:host(.modules-nav) {
 
}

.jz-nav-group {
  display: flex;
  gap: 0.5rem;
}

  .jz-nav-group.horizontal {
    flex-direction: row;
    align-items: center;
    position: relative;
  }

.jz-nav-group.vertical { 
  flex-direction: column;
  align-items: stretch;
}

jz-nav-group.blank-view nav.jz-nav-group .jz-nav-item.active {
 border:none
}
