:host {
  display: block;
}

.jz-nav-group {
  display: flex;
  gap: 0.5rem;
}

.jz-nav-group.horizontal {
  flex-direction: row;
  align-items: center;
  position: relative;
  z-index: 101;
}

.jz-nav-group.vertical { 
  flex-direction: column;
  align-items: stretch;
  margin-right:-1px;
  position: relative;
  z-index: 101;
}

jz-nav-group.blank-view nav.jz-nav-group .jz-nav-item.active {
 border:none
}
