<svg class="jz-studio-logo"
     viewBox="0 0 780 220"
     role="img"
     aria-labelledby="jz-studio-logo-title"
     preserveAspectRatio="xMinYMid meet">

  <title id="jz-studio-logo-title">JZ Studio</title>

  <g class="jz-studio-logo__initials"
     fill="none"
     stroke-width="36"
     stroke-linecap="round"
     stroke-linejoin="round">

    <path d="M20 89 H214 L20 197 H730" />
  </g>

  <g class="jz-studio-logo__word"
     fill="none"
     stroke-width="15"
     stroke-linecap="round"
     stroke-linejoin="round"
     transform="translate(-10 22) scale(1 .72)">

    <!-- S -->
    <path d="M350 96
         C330 76 275 79 269 108
         C264 132 299 136 322 144
         C347 152 357 164 352 178
         C344 194 294 196 268 178" />

    <!-- t -->
    <path d="M401 96
         V171
         C401 186 411 193 425 193
         M381 124
         H427" />

    <!-- u -->
    <path d="M452 125
         V166
         C452 201 510 201 510 166
         V125" />

    <!-- d -->
    <path d="M612 81
         V193
         M609 137
         C596 115 547 114 542 153
         C537 190 590 201 612 176" />

    <!-- i -->
    <path d="M651 125
         V193
         M651 96
         L651 97" />

    <!-- o -->
    <path d="M691 159
         C691 114 754 114 754 159
         C754 204 691 204 691 159
         Z" />
  </g>
</svg>
