
.sub-view .menu-tab {
    padding: 0 0 0 0;
}

.menu-tab-panel.horizontal {
  margin-bottom: -1px;
  z-index: 10;
  position: relative;
}

.menu-tab-panel.vertical {
  margin-right: -1px;
  z-index: 10;
  position: relative;
}

.menu-panel-title {
  color: var(--jz-palette-text-1);
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

  .menu-panel-title div {
    color: var(--jz-palette-text-1);
  }

  .menu-panel-title > div {
    color: var(--jz-palette-text-1);
  }


.menu-subview .selected .jz-button-base-layer {
  background-color: var(--jz-palette-color-4);
}

.menu-subview {
}

.menu-container {
}



  .menu-container.menu-subview {
  }

    .menu-container.menu-subview .jz-button-base-layer {
      background-color: var(--jz-palette-color-3);
    }

  .menu-container.menu-vertical .menu-tab-panel {
    flex-flow: column;
  }



  .menu-tab-panel.vertical > .tab-border {
  }

.menu-panel-title {
  color: var(--jz-palette-color-1);
}

  .menu-panel-title div {
    color: var(--jz-palette-text-1);
  }

.flex {
  display: flex;
  flex-flow: row;
}

  .flex.vertical {
    flex-flow: column;
  }

  .flex.horizontal {
    flex-flow: row;
  }

.menu-vertical {
  color: yellow;
}

.menu-panel {
}

  .menu-panel.horizontal {
    flex-flow: row;
    z-index: 10;
    position: relative;  
  }

  .menu-panel.vertical {
      flex-flow:column; 
  }

  .menu-panel.vertical j3-tab {
    margin-right:-1px;
  }

  .menu-panel.vertical .tab-border {
    border: 1px solid yellow;
  }

.menu-panel-sub-title {
    color:yellow;
}

.tab-border {
  padding: 8px 0;
  border: 1px solid var(--jz-palette-text-2);
  color: var(--jz-palette-text-2);
  border-radius: 8px;
}

  .tab-border.selected {
    border-color: lightgoldenrodyellow;
  }

  .tab-border.vertical {
    border-radius: 8px 0 0 8px;
  }

  .tab-border.horizontal {
    border-radius: 8px 8px 0 0;
  }

.menu-button {
  color: greenyellow;
  background-color: greenyellow;
  border: 1px  greenyellow;
}

.subview  .jz-button-bevel {
  width: 100%;
  border-radius: 7px;
  background-color: salmon;
}
