<!--shell.component.html-->
<div class='shell grid-rows  app-root-content'
       [class.shell-collapsed]="shellCollapsed">
  <shell-header #header
                class="grid-row-fixed"
                [ngClass]="{ 'menu-collapsed': shellCollapsed }"
                (shellCollapseToggled)="toggleShellCollapse()">
  </shell-header>

  <shell-content #content class="grid-row-fill">
    <router-outlet></router-outlet>
  </shell-content>

  <shell-footer #footer class="grid-row-fixed"></shell-footer>
</div>


