

<jz-menu-container class="menu-vertical sub-menu"
                   [menuName]="'graphics'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [menuType]="'sub-menu'">

  <jz-menu-tab [route]="'graphics/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'graphics'"
               [direction]="direction"
               [menuType]="'sub-menu'"
               [isSelected]="true">
  </jz-menu-tab>

  <jz-menu-tab [route]="'graphics/tree'"
               [tabId]="'tree'"
               [btnTxt]="'Tree'"
               [menuName]="'graphics'"
               [direction]="direction"
               [menuType]="'sub-menu'"
               [isSelected]="true">
  </jz-menu-tab>

</jz-menu-container>
