
<jz-menu-container class="menu-vertical sub-menu"
                   [menuName]="'graphics'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [menuType]="'sub-menu'">

  <jz-menu-tab [route]="'graphics/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="menuName"
               [direction]="direction"
               [menuType]="parentGetter"
               [isSelected]="true">
  </jz-menu-tab>

  <jz-menu-tab [route]="'graphics/random-tree'"
               [tabId]="'random-tree'"
               [btnTxt]="'Random'"
               [menuName]="menuName"
               [direction]="direction"
               [menuType]="parentGetter">
  </jz-menu-tab>




</jz-menu-container>
