<!-- jz-button-cuboid.html -->

<button class="jz-btn jz-btn--cuboid jz-btn--nine"
        [attr.type]="type"
        [disabled]="disabled"
        (click)="onClick()"
        [style.--jz-width]="cssWidth"
        [style.--jz-height]="cssHeight"
        [style.--jz-bevel]="cssBevel">
  <div class="cuboid" >
    <!-- zones A–I ... -->
    <div class="zone E">
      <span class="jz-btn__content" [style.display]="hasText ? 'inline-flex' : 'none'">{{ text }}</span>
      <span class="jz-btn__content" [style.display]="hasText ? 'none' : 'inline-flex'"><ng-content></ng-content></span>
    </div>
  </div>
</button>
