
<jz-menu-container class="menu-vertical sub-menu"
                   [menuName]="'sandbox'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [menuType]="'submenu'"
                   [parentValue]="'sub-menu'"
                   >
                 

  <jz-menu-tab [route]="'sandbox/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="menuName"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/choro-dash-loader'"
               [tabId]="'chorodash'"
               [btnTxt]="'Chorodash'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/dataviz'"
               [tabId]="'dataviz'"
               [btnTxt]="'Dataviz'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/docking'"
               [tabId]="'docking'"
               [btnTxt]="'Docking'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/dashboard'"
               [tabId]="'dashboard'"
               [btnTxt]="'Dashboard'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/graphics'"
               [tabId]="'graphics'"
               [btnTxt]="'Graphics'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [parentValue]="parentGetter"
               >
  </jz-menu-tab>


</jz-menu-container>
