<!--<jz-menu-container [ngStyle]="{'flex-flow':'column'}" style="flex-flow:column;display:flex">-->
<jz-menu-container class="menu-vertical menu-view sub-view"
                   [menuName]="'sandbox'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [isSubMenu]=true>

  <jz-menu-tab [route]="'sandbox/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'sandbox'"
               [direction]="direction"
               [isSelected]=true>
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/choro-dash-loader'"
               [tabId]="'chorodash'"
               [btnTxt]="'Chorodash'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/dataviz'"
               [tabId]="'dataviz'"
               [btnTxt]="'Dataviz'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/docking'"
               [tabId]="'docking'"
               [btnTxt]="'Docking'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/dashboard'"
               [tabId]="'dashboard'"
               [btnTxt]="'Dashboard'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>

  <jz-menu-tab [route]="'sandbox/graphics'"
               [tabId]="'graphics'"
               [btnTxt]="'Graphics'"
               [menuName]="'sandbox'"
               [direction]="direction">
  </jz-menu-tab>


</jz-menu-container>
