<div class="popover-test-target" #contentTarget>

  <div class="popover-test">

    <button type="button"
            [jzPopover]="componentPopover"
            [jzPopoverOrigin]="contentTarget"
            [jzPopoverConfig]="{
              placement: 'center',
              offsetX: 0,
              offsetY: 0,
              data: 'Data passed through injector'
            }">
      Component Popover
    </button>

  </div>

</div>

<ng-template #myPopover>
  <jz-popover-panel>

    <div class="popover-title">
      JZ Popover
    </div>

    <div class="popover-body">
      Template popover works.
    </div>

  </jz-popover-panel>
</ng-template>
