<div class="popover-test">

  <button type="button"
          [jzPopover]="componentPopover"
          [jzPopoverOrigin]="viewRouterOrigin"
          [jzPopoverConfig]="{
            positionMode: 'container-center',
            placement: 'center',
            offsetX: 0,
            offsetY: 0,
            data: 'Data passed through injector'
          }">
    Component Popover
  </button>

</div>

<ng-template #myPopover>
  <jz-popover-panel>

    <div class="popover-title">
      JZ Popover
    </div>

    <div class="popover-body">
      Template popover works.
    </div>

  </jz-popover-panel>
</ng-template>
