
<div #appHeader [ngStyle]="{'visibility':isVisible}" >

  <div class="grid-col-fixed logo-container">
    <img src="../assets/logos/JazLogoMaster-11.svg" width="100" />
  </div>

  <div class="grid-col-fill">
    <div class="grid-cols" style="justify-content:start">
      <div style="margin-right:16px;margin-top:8px">
        <palette-menu></palette-menu>
      </div>

      <!--<menu-main-aux #mainMenuAux></menu-main-aux>-->

    </div>

    <div #mainMenuContainer
         [ngStyle]="{'visibility':isMainMenuVisible ? 'visible' : 'hidden'}"
         class="grid-row-fixed menu-container">

      <main-menu #mainMenu></main-menu>

    </div>
  </div>

</div>
