
.app-header {
  color: var(--plt-txt-1);
  background-color: var(--plt-clr-1);
  border-radius: 8px 8px 0 0;
  border: 1px solid black;
  padding: 6px;
}

.logo-container {
  justify-content: center;
  align-items: center; 
  width: 126px;
  /* border-right: 1px solid white;*/
}

.menu-container {
 /* border: 1px solid white;*/
}
