<div class="grid-row-fixed radio-button-container" >
  <!--<div class="palette-name">{{paletteName}}</div>-->

    <jz-radio-button [palette]="'gold'"></jz-radio-button>
    <jz-radio-button [palette]="'gold-2'"></jz-radio-button>
    <jz-radio-button [palette]="'indigo'"></jz-radio-button>
    <jz-radio-button [palette]="'onyx'"></jz-radio-button>
    <jz-radio-button [palette]="'xyno'"></jz-radio-button>
    <jz-radio-button [palette]="'olive'"></jz-radio-button>
    <jz-radio-button [palette]="'oxford'"></jz-radio-button>
    <jz-radio-button [palette]="'jungle'"></jz-radio-button>
    <jz-radio-button [palette]="'coffee'"></jz-radio-button>
    <jz-radio-button [palette]="'indigo'"></jz-radio-button>
 
</div>
