<div class="grid-row-fixed radio-button-container">
  <div class="palette-name">{{paletteName}}</div>

  <jz-radio-button [palette]="'gunmetal'" [btncolor]="'#406B6B'"></jz-radio-button>
  <jz-radio-button [palette]="'jungle'" [btncolor]="'white'"></jz-radio-button>
  <jz-radio-button [palette]="'hooker'" [btncolor]="'#5A716A'"></jz-radio-button>
  <jz-radio-button [palette]="'gold'" [btncolor]="'gold'"></jz-radio-button>
  <jz-radio-button [palette]="'indigo'" [btncolor]="'indigo'"></jz-radio-button>
  <jz-radio-button [palette]="'onyx'" [btncolor]="'onyx'"></jz-radio-button>
  <jz-radio-button [palette]="'xyno'" [btncolor]="'xyno'"></jz-radio-button>
  <jz-radio-button [palette]="'olive'" [btncolor]="'olive'"></jz-radio-button>
  <jz-radio-button [palette]="'oxford'" [btncolor]="'oxford'"></jz-radio-button>

  <jz-radio-button [palette]="'coffee'" [btncolor]="'coffee'"></jz-radio-button>
  <jz-radio-button [palette]="'indigo'" [btncolor]="'indigo'"></jz-radio-button>

</div>
