
<div style="background-color:var(--plt-clr-1);height:100%;">
  <sandbox-menu style="background-color:var(--plt-clr-1);height:fit-content;margin-top:32px"></sandbox-menu>
</div>

<div #viewRouter id="viewRouter" class="app-view-home grid-col-fill view-router-container ">
  <button (click)="showPopover($event)">Show Popover</button>
  <router-outlet></router-outlet>
</div>


<!--<app-dynamic-popover #popover></app-dynamic-popover>-->


<pop-over-loading #popOverLoadingComponent></pop-over-loading>
