
<div style="background-color:var(--plt-clr-1);height:100%;">
  <sandbox-menu style="background-color:var(--plt-clr-1);height:fit-content;margin-top:32px"></sandbox-menu>
</div>

<div #viewRouter id="viewRouter" class="app-view-home grid-col-fill view-router-container ">
  <router-outlet></router-outlet>
</div>

<dx-popover #popover_loading
            [target]="'viewRouter'"
            width="300"
            height="200"
            [visible]="isPopupVisible"
            [showTitle]="true"
            title="Loading ....">
  <div style='color:white'>jz-pop </div>
</dx-popover>
