
<div class="grid-rows">
  <div class="grid-cols centered" style="font-size:36px; color: powderblue">
    <div style="font-family: open-sans-bold; color:var(--plt-txt-2)">Data</div>
    <div style="font-family: open-sans-light ; color:var(--plt-txt-2)">Visualization</div>
    <!--<button #btn (click)="open(btn)">Show Popover</button>-->
  </div>
</div>



<!--<ng-template #popoverTpl>
  <div style="max-width:220px">
    <strong>Popover Title</strong><br />
    Content injected through TemplateRef.
  </div>
</ng-template>-->

<!--<jz-pop-over [visible]="popoverVisible"
             [content]="popoverTemplate"
             [anchor]="anchor">
</jz-pop-over>-->
