
<jz-menu-container class="menu-vertical sub-menu"
                   [menuName]="'dataviz'"
                   [direction]="'vertical'"
                   [isHorizontal]="false"
                   [menuType]="'sub-menu'">

  <jz-menu-tab [route]="'dataviz/home'"
               [tabId]="'home'"
               [btnTxt]="'Home'"
               [menuName]="'dataviz'"
               [direction]="'vertical'"
               [menuType]="parentGetter"
               [isSelected]="true">
  </jz-menu-tab>

  <jz-menu-tab [route]="'dataviz/choro-dash-loader'"
               [tabId]="'chorodash'"
               [btnTxt]="'Chorodash'"
               [menuName]="'dataviz'"
               [direction]="'vertical'"
               [menuType]="parentGetter">
  </jz-menu-tab>

  <jz-menu-tab [route]="'dataviz/technical'"
               [tabId]="'technical'"
               [btnTxt]="'Technical'"
               [menuName]="'dataviz'"
               [direction]="'vertical'"
               [menuType]="parentGetter">
  </jz-menu-tab>

  <jz-menu-tab [route]="'dataviz/sankey'"
               [tabId]="'sankey'"
               [btnTxt]="'Sankey'"
               [menuName]="'dataviz'"
               [direction]="'vertical'"
               [menuType]="parentGetter">
  </jz-menu-tab>

</jz-menu-container>
