.spiro-panel {
  flex-flow: column;
  border: 1px solid #808080;
  padding:8px;
}

.spiro-panel-section {
  flex-flow: column;
  font-size:10px;
}

.input-row {
  border: 1px solid #282828;
  margin-top: 2px;
}

.label {
  color: #808080;
  width: 20px;
  height: 16px;
  line-height: 14px;
  justify-content: center;
}

.input-value {
  font-size: 10px;
  background-color: #808080;
  width: 48px;
  border-style: unset;
  border: 1px solid #909090;
  text-align: end;
  line-height: 14px;
  height: 14px;
}

.button-container {
  margin-top:8px;
  justify-content:center;
}

.radio {
  margin-left: 4px;
}

.title {
    font-size:11px;
}

.sub-title {
  font-size: 11px;
  margin-top:4px;
}

.spiro-pad {
    background-color: black;
}

.drawButton {
  width: 96px;
  box-shadow: inset 2px 2px 2px var(--jz-palette-color-4-hi), inset -2px -2px 2px var(--jz-palette-color-4-lo);
}
