<!--jz-menu-tab.component.html-->

<div class="menu-tab"
     (click)="onTabClicked()"
     [ngStyle]="{  'border-radius':borderRadius,    }"
     [ngClass]="{
     'selected': isSelected,
     'horizontal': isHorizontal,
     'vertical': !isHorizontal,
     'sub-menu': isSubMenu,
     'main-menu': !isSubMenu
     }">

  <jz-button-cuboid #tabbutton
                    class="jz-button"
                    [route]="route"
                    [variant]="menuType === 'sub' ? 'secondary' : 'primary'"
                    [tone]="menuType === 'sub' ? 2 : 1"
                    (clicked)="onTabClicked()">
    {{btnTxt}}
  </jz-button-cuboid>
</div>
